<!DOCTYPE html>
<html lang="en">
<head>
	<META content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>FAQ</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio in facere libero, laborum, iste ipsum rem voluptates reprehenderit autem, sapiente nobis quasi veniam cumque eius suscipit. Modi dolore vero cupiditate?" />

    <link rel="stylesheet" href="styles/main.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
	
	<div class="section no-pad-bot">
		<div class="container">
    	<br><br>
    		<div class="logo"><img src="images/logo@2x.png" alt=""></div>
    		<h1 class="header s12 center text-darken-2">Faculty of Computer Science FAQ</h1>
    	<div class="row center">
    		<h5 class="header col s12 l10 offset-l1 light">Популярные вопросы и ответы на них, поступающим на факультет информатики в ВШЭ</h5>
    	</div>
    	<div class="row center search-form">
    		<nav class="col s12 l6 offset-l3">
  				<div class="nav-wrapper">
  					<form>
  						<div class="input-field">
  						  <input id="search" type="search" required>
  						  <label for="search"><i class="material-icons">search</i></label>
  						</div>
  					</form>
  				</div>
  			</nav>
    	</div>
      <div class="row">
        <div class="tags col s12 l10 offset-l1">
          <ul>
            <li class="filter" data-filter="all">Показать все</li>
            <li class="filter" data-filter=".cat1">Учеба</li>
            <li class="filter" data-filter=".cat2">Оплата</li>
            <li class="filter" data-filter=".cat3">Спорт</li>
            <li class="filter" data-filter=".cat4">Посещаемость</li>
          </ul>
        </div>
      </div>
    	</div>
      <div class="background"></div>
	</div>
	<main class="container">
		<div class="row">
			<ul class="collapsible popout" data-collapsible="accordion">
          <h4 class="mix cat1 light center">Учеба</h4>
  				<li class="mix cat1">
  					<div class="collapsible-header">Какой проходной балл? </div>
  					<div class="collapsible-body"><p>В 2014 году баллы были такие: ПМИ — 273, ПИ — 270. В 2013 году эти показатели равнялись 268 и 276 соответственно.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">По каким олимпиадам льготы и какие?</div>
  					<div class="collapsible-body"><p>Список льгот в зависимости от уровня студенческой олимпиады публикуется в июне. По Всероссийской олимпиаде гарантировано зачисление без экзаменов. Посмотреть список льгот в прошлом году можно здесь: <a href="http://ba.hse.ru/olymp2014">http://ba.hse.ru/olymp2014</a>.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Какой процент отчисления с бюджета на факультете?</div>
  					<div class="collapsible-body"><p>На ПИ в 2012 году поступило 109 человек. Сейчас (к третьему курсу) осталось 62. На ПМИ после летней сессии 2 курса остаётся половина «первокурсников», выпускается примерно лишь треть.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Рассчитана ли программа английского на студентов, которым тяжело даются иностранные языки?</div>
  					<div class="collapsible-body"><p>Да, английский не такой сложный, обучают практически с базовых вещей. Если набирается довольно большое количество незнающий англ студентов, огранизуют «нулевую» группу для студентов без знаний языка.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Какие у факультета реальные связи с Яндексом?</div>
  					<div class="collapsible-body"><p>Яндекс проводит различные мероприятия. Так же некоторые преподаватели из ШАДа проводят свои курсы. Особых льгот для устройства на работу в Яндекс нет, но при прилежном обучении навыков, предоставляемых на ФКН, должно хватить для устройства на работу в обычном порядке.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Кем и где работают студенты старших курсов?</div>
  					<div class="collapsible-body"><p>Студентов принимают на работу крупные IT-компании.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Есть ли свободное от учебы время?</div>
  					<div class="collapsible-body"><p>В ПМИ более сильная математическая подготовка. ПИ, помимо непосредственных навыков программирования, более обширно предоставляет знания по эффективным коммуникациям, управлению проектами и проч.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Какие вообще изучаются дисциплины?</div>
  					<div class="collapsible-body"><p><a href="http://www.hse.ru/ba/ami/courses">ПМИ</a>; <a href="http://www.hse.ru/ba/se/courses">ПИ</a>.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Какие есть скидки на обучение?</div>
  					<div class="collapsible-body"><p>Сразу при поступлении возможны 3 вида скидок: 70%, 50%, 25%. В этом году по результатам ЕГЭ предоставляются следующие скидки: <br>250 баллов и выше — 70% <br>235–249 баллов — 50% <br>220–234 баллов — 25% <br></p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Как выставляются итоговые оценки? Есть ли автоматы?</div>
  					<div class="collapsible-body"><p>Итоговые оценки выставляются по формуле, которую определяет и публикует преподаватель в начале курса в программе дисциплины. По некоторым предметам (особенно на старших курсах) есть автоматы.</p></div>
  				</li>
  				<li class="mix cat1">
  					<div class="collapsible-header">Правда ли, что добираться до универа 2/3/10 часов? (нужное подчеркнуть)</div>
  					<div class="collapsible-body"><p>Время пути в электричке до Белорусского вокзала составляет 35 минут, в метро — 7 минут и ещё 10 минут от метро пешком. От двери трилистника до двери университета ровно час. От 6 общаги на 5 минут больше. Тем, кто живёт в Дубках следует прибавить примерно 15–20 минут  к этому времени.</p></div>
  				</li>
          <h4 class="mix cat2 light center">Сложно ли жить на этом свете?</h4>
  				<li class="mix cat2">
  					<div class="collapsible-header">Кто может проживать в общежитии?</div>
  					<div class="collapsible-body"><p>Обычно предоставляется всем желающим студентам и аспирантам по личному заявлению.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Можно ли выучить второй язык?</div>
  					<div class="collapsible-body"><p>Можно. Существуют факультативы по изучению второго иностранного языка.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Есть ли научная работа здесь?</div>
  					<div class="collapsible-body"><p>Да. Например, есть Научно-учебная лаборатория процессно-ориентированных информационных систем. Также проводятся исследовательские конференции, в которых участвуют студенты со своими работами. В рамках обязательной программы студенты посещают один из научно-исследовательских семинаров по выбору.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Что такое майноры?</div>
  					<div class="collapsible-body"><p>Это наборы из 4 дисциплин, предлагаемых вам для выбора из других образовательных программ, в том числе из тех, которые читаются на других факультетах. Например, для студентов, изучающих «бизнес-информатику» могут быть интересны дисциплины, читаемые на программе «программная инженерия», а «менеджеры» могут выбрать майнор, предложенный факультетом экономики. Каждая дисциплина майнора читается на протяжении двух модулей на 2-м и 3-м курсах, для чего в расписании отводится специальное время.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Как поехать на стажировку в другую страну?</div>
  					<div class="collapsible-body"><p>Следует помнить, что поиск стажировки в основном зависит от студента: стажировка сама с неба не свалится :) Необходимо искать их самому (необязательно вышкинские), но в ВШЭ они есть (правда пока мало по нашим специальностям).</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Что изменилось после прихода Яндекса?</div>
  					<div class="collapsible-body"><p>Яндекс проводит различные мероприятия. Так же некоторые преподаватели из ШАДа проводят свои курсы.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Много ли преподавателей из Яндекса?</div>
  					<div class="collapsible-body"><p>Да.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Есть ли какие-то льготы для попадания на стажировку/работу в Яндексе?</div>
  					<div class="collapsible-body"><p>Особых льгот для устройства на работу в Яндекс нет, но при прилежном обучении навыков, предоставляемых на ФКН, должно хватить для устройства на работу в обычном порядке.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Можно ли совмещать работу с учебой на 1/2/3/4 курсах?</div>
  					<div class="collapsible-body"><p>Можно, и многие это довольно активно практикуют. Есть даже те, кто совмещает учёбу с работой уже на первом курсе, но лучше всё же начинать со второго или третьего, когда привыкнешь к жизни в университете.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Сколько часов тратится в день на учёбу? </div>
  					<div class="collapsible-body"><p>Если говорить про время вне университета, то всегда по-разному. Когда не откладываешь все дела на крайний срок, то примерно двух-трёх часов каждый день будет достаточно.</p></div>
  				</li>
  				<li class="mix cat2">
  					<div class="collapsible-header">Какие есть досуговые мероприятия в Вышке? Нравится ли студенческая жизнь?</div>
  					<div class="collapsible-body"><p>В Вышке есть студенческая организация «Ингруп СтС», которая делает множество интересных мероприятий: крупный ночной развлекательный проект Ночь в Культурном Центре, ежегодную премию за внеучебные достижения Чугунное Яйцо, городской квест HSE RUN, регулярный поэтический вечер, благотворительный проект «Открой глаза», вышкинский музыкальный фестивать «МузВышка» и многое другое. Также есть огромное количество кружков и секций на любой вкус, начиная от КВН-движения и заканчивая клубом любителей экстримальных видов спорта. Так что если хочется насытить свою студенческую жизнь — пожалуйста, ВШЭ предоставляет для этого массу возможностей.</p></div>
  				</li>
          <h4 class="mix cat3 light center">Учеба</h4>
  				<li class="mix cat3">
  					<div class="collapsible-header">Какая стипендия? Реально ли её получать?</div>
  					<div class="collapsible-body"><p>1408 рублей! Получить реально, особенно после последних изменений. теперь не учитывается позиция студента в рейтинге, теперь достаточно не получать оценки ниже 6 в течение двух сессий.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Можно ли перевестись на бюджет?</div>
  					<div class="collapsible-body"><p>Можно, если есть свободные места. Но для этого нужно дважды попасть в топ рейтинга вашего курса (10–15% лучших студентов) по результатам двух семестров подряд. При этом у вас не должно быть оценок ниже 8 за экзамены.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Какие условия предоставления / продления скидок?</div>
  					<div class="collapsible-body">
  						<p>Скидку на обучение могут получить:</p>
						<ul>
							<li>Студенты, которым не хватило баллов для поступления по ЕГЭ;</li>
							<li>Победители и призёры олимпиады «Высшая Проба» по предметам, не включённый в перечень;</li>
							<li>Выпускники ФДП и базовых школ, вошедшие в единый рейтинг ФДП;</li>
							<li>Выпускники Лицея НИУ ВШЭ;</li>
							<li>Выпускники Физико-математической школы МИЭМ;</li>
							<li>Выпускники базовых школ и выпускники региональных центров;</li>
							<li>Выпускники школ Распределенного Лицея.</li>
						</ul>
						<p>Скидки могут быть размером в 100%, 70%, 50% и 25%. Для каждой категории есть свои условия сохранения скидок, но самое основное - это не иметь неудовлетворительных оценок и не более двух удовлетворительных оценок.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Есть ли военная кафедра?</div>
  					<div class="collapsible-body"><p>Да, есть. В конце первого курса проводятся вступительные экзамены, а со второго курса поступившие начинают там своё обучение. </p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Как обстоит вопрос с магистратурой?</div>
  					<div class="collapsible-body"><p>Организовано несколько магистерских программ. Можно поступить как на бюджет, так и на платное. На разные программы есть различные способы поступления: конкурс портфолио, письменный экзамен, студенческие олимпиады.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Каким образом происходит разделение на группы?</div>
  					<div class="collapsible-body"><p>Никаких особенностей в распределении на группы нет. Вы можете попроситься в одну группу с другом или друзьями в начале года, а также меняться местами с людьми из других групп в течение дальнейшего обучения. Единственной особенностью является выделение группы студентов со слабой подготовкой по английскому языку.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Надо ли писать при поступлении внутренние экзамены?</div>
  					<div class="collapsible-body"><p>Не надо, если вы поступаете по результатам ЕГЭ или олимпиады. Но такая возможность предоставляется для людей с ограниченным возможностями, иностранных граждан и для лиц, прошедших государственную итоговую аттестацию по образовательным программам среднего общего образования не в форме ЕГЭ (в том числе в иностранных  образовательных организациях) в течение 1 года до дня завершения приема документов и вступительных испытаний включительно.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Есть ли гуманитарные предметы?</div>
  					<div class="collapsible-body"><p>Да, есть. Самый важный гуманитарный предмет на ФКН — это, пожалуй, английский язык, потому что в процессе обучения вы будете довольно часто встречаться с англоязычной литературой. Также есть психология, история, философия науки и экономика (не совсем гуманитарный предмет, но его стоит упомянуть). </p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">На сколько строго и в каком формате спрашивают домашнее задание по разным предметам?</div>
  					<div class="collapsible-body"><p>Есть предметы, по которым домашние работы вы можете получать после каждого семинара: они больше нужны вам для понимания материала, нежели для оценки ваших знаний. По другим предметам бывают задания сроком на несколько недель или даже месяцев: оценки за такие работы довольно сильно влияют на вашу итоговую оценку, поэтому их делать очень важно. Редко когда преподаватель будет вас отчитывать за несделанную работу, ведь это вы делаете для себя, а не для него.</p></div>
  				</li>
  				<li class="mix cat3">
  					<div class="collapsible-header">Какое соотношение теории/практики для предметов по специальности?</div>
  					<div class="collapsible-body"><p>Довольно подробно спрашивается как одно, так и другое. Но из-за различных крупных домашних работ выходит перевес в пользу практики.</p></div>
  				</li>
          <h4 class="mix cat4 light center">Учеба</h4>
  				<li class="mix cat4">
  					<div class="collapsible-header">Стоит ли пробовать поступать, если в школе программированием я почти не занимался, но теперь хочется? (Учат ли программировать с нуля?)</div>
  					<div class="collapsible-body"><p>Да, стоит. На первом курсе преподают основы языков и алгоритмов, так что переживать за это не стоит. Плюс, вокруг всегда есть люди, готовые помочь. Если же знаний у вас хватает и вы хотите побыстрее ринуться их применять, можно присоединиться к нашей команде олимпиадников или взяться за сложный проект.</p></div>
  				</li>
  				<li class="mix cat4">
  					<div class="collapsible-header">Какие экзамены по иностранному языку засчитываются за зачёт, и есть ли такие?</div>
  					<div class="collapsible-body"><p>IELTS дает возможность не ходить на английский на первых двух курсах.</p></div>
  				</li>
  				<li class="mix cat4"> 
  					<div class="collapsible-header">Есть ли Физ-ра как предмет? Как по ней выставляется оценка?</div>
  					<div class="collapsible-body"><p>Нет. Ну, есть, если хочется. Есть возможность посещать секции, а так — нет.</p></div>
  				</li>
  				<li class="mix cat4">
  					<div class="collapsible-header">Какой язык программирования вы изучаете?</div>
  					<div class="collapsible-body"><p>ПИ на первом курсе изучает C#, на втором — С++ и Java. ПМИ — C++ и Python. Есть возможность дополнительно изучать и другие ЯП.</p></div>
  				</li>
  				<li class="mix cat4">
  					<div class="collapsible-header">Что такое рейтинг студентов?</div>
  					<div class="collapsible-body"><p>Рейтинг представляет собой список студентов курса одного направления обучения, отсортированный по  успеваемости  в порядке убывания. Успеваемость складывается из  суммы итоговых и промежуточных оценок студента, полученных в семестре по дисциплинам. Эти оценки помножены на  кредитные коэффициенты  соответствующих дисциплин, которые указаны в учебном плане направления.</p></div>
  				</li>

  			</ul>
		</div>
	</main>
	<footer class="page-footer">
        <div class="container">
        	<div class="row">
        		<div class="col l6 s12">
        			<h5 class="white-text">Footer Content</h5>
        			<p class="grey-text text-lighten-4">Рейтинг представляет собой список студентов курса одного направления обучения, отсортированный по  успеваемости  в порядке убывания.</p>
        		</div>
        		<div class="col l4 offset-l1 s12">
        			<h5 class="white-text">А вот еще</h5>
        			<ul>
        				<li><a class="grey-text text-lighten-3" href="https://vk.com/ba_hse">Поступающим на бакалавриат</a></li>
        				<li><a class="grey-text text-lighten-3" href="https://vk.com/ma_hse">Поступающим на магистратуру</a></li>
        			</ul>
        		</div>
        	</div>
        </div>
        <div class="footer-copyright">
        	<div class="container">
        		<div class="github left col s12 m6 l6">View on <a href="#"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABU0lEQVQ4T52TjVECQQxGvQrUCsQKxAo8KlArECoQK1ArUDo4KhArECoQKxAq8KzgfI/JOsvx44w7k7nNl+RLLskWB1tO0zR94AukE+YF32lRFOO2e5EDEfgEdrSNGKxG7iCqkv2XgGDBmx2BbbiCZCC4IiB4yMfMS0tFrpDDVtQ3ukm0nSADKykIttyvcB4BDgPrcpfMBCWfOXrN/Zn7bfgfS/CAch/AK05m2Hnwn2C8DIdHCcxixz3nEMz/IOhifw+fmQR2dvW/BK9NZRcRMU3YagmS8h+CAwkWsNlVzylFqO/rQf4LSwnypkwguN5TuhN7QcrwGUug8oaMwmA/KmScqsGng+6S9RHv6fTSIk1BzpAeYkVmcg8WegbBZ6uyGfYyERjg+ByPG+Zk1k7ebAxurAnq/C1IkirZmEhG8IFfmZJszD1eZN/y8hJi4XxEVY7/AMbVmPc7LebyAAAAAElFTkSuQmCC"/>Github</a></div>
        		<div class="ams right col s12 m6 l6"><span class="bottle"></span>Сделано с <span class="heartbeat"></span> в <a href="http://abstractmind.ru/">Abstract Mind Studio</a></div>
        	</div>
        </div>
    </footer>
	<script src="scripts/jquery.min.js"></script>
  <script src="scripts/mixitup.min.js"></script>
	<script src="scripts/materialize.js"></script>
	<script>
		$(document).ready(function(e){
  			$(".button-collapse").sideNav();
  			$('.collapsible').collapsible({
    			accordion : true,
    		});
        $('.collapsible').mixItUp({
          layout: {
            display: 'block'
          },
          animation: {
            duration: 450,
            effects: 'fade translateZ(-360px) stagger(34ms) scale(1.00)',
            easing: 'cubic-bezier(0.47, 0, 0.745, 0.715)'
          }
        });
  		});
	</script>
</body>
</html>